.cart{
    
    background-color: #33eb88;
    border: 1px solid black ;
    border-radius: 10px;
}

.items-cart .info-cart .quantity-cart .price-cart{
    display: grid;
    text-align: center;
}

.cart-images{
    height:100px;
    width:150px;
    border: 2px solid grey;
    background-color: white;
}

.quantity-cart{
    margin-top: 5px;
}

.cart-total{
    width: 60%;
    height: 70%;
    margin: 20px;
    background-color: rgba(48, 187, 106, 0.705);
    color: rgba(56, 51, 51, 0.856);
    border-style: solid;
    border-color: white;
    border-width: 1px;
}